@import '~bootstrap/scss/bootstrap';

.pokemon-header {
  width: 100%;
  z-index: -1;
}

.center-and-margins {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.is-blue {
  color: #28A4D6;
}

.display-1 {
  font-size: 80px;
}

.pokemon-counter {
  width: 200px;
  height: 100px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

input {
  width: 350px;
  height: 80px;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pokeball {
  margin: 20px 30px 0 0;
}

.white-text {
  color: white;
    &hover {
      color: lightgreen;
    }
}
