<html>
  <body>
    <div >
      <img class="pokemon-header" src="/assets/Medias/pokemon-banner.png" alt="pokemonheader">
    </div>
    <div class="center-and-margins">
      <div class="pokemon-counter">
        <span>
          <img class="pokeball" src="/assets/Medias/pokeball2.png" alt="t">
        </span>
        <span>
          <h1 class= "display-1" [ngClass]="{'is-blue': addPokemonButton}"> {{ nbCaught }} </h1>
        </span>
      </div>
    </div>

    <div class="center-and-margins">
      <span>
        <input type="text" placeholder="Type in a new Pokémon!" [(ngModel)]="pokemonName">
      </span>
      <span class="">
        <button class="btn btn-info btn-lg add-button" (click)="addPokemon()">Add to the Pokédex</button>
      </span>
    </div>

    <!-- <div class="center-and-margins" *ngIf = "addPokemonButton">
      <p>Pokémon added successfully</p>
    </div> -->

      <div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="addPokemonButton">
          <app-pokemon-item fxFlex="0 1 auto" routerLink="/pokemon" class="" [name]="pokemon" appBasicHighlight='lightgreen' defaultColor='transparent' *ngFor="let pokemon of pokemons"></app-pokemon-item>
      </div>
  </body>
</html>
