@import '~bootstrap/scss/bootstrap';


:host {
  display: block;
  transition: all 1s;
  cursor: pointer;
}

.pokemon-item {
  font-weight: bold;
  margin: 20px;
  display: flex;
  align-items: center;
}

.pokeball {
  margin-right: 30px;
}

.box {
  width: 200px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  position: relative;
}

.psa {
  position: absolute;
}

.psr {
  position: relative;
}

.sticky-right {
    position: absolute;
    right: 0;
    margin-right: 20px;
}
